<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>HyperTalk</title>
        <link href="{%static 'assets/myimages/favicon.jpg' %}" rel="icon">

        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <!-- <link href="assets/img/favicon.png" rel="icon"> -->
        <link
        href="{%static 'assets_final/img/apple-touch-icon.png' %}" rel="apple-touch-icon"> <!-- Google Fonts -->
        <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{%static 'assets_final/vendor/aos/aos.css' %}" rel="stylesheet">
        <link href="{%static 'assets_final/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{%static 'assets_final/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{%static 'assets_final/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{%static 'assets_final/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{%static 'assets_final/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
        <link href="{%static 'assets_final/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{%static 'assets/css/style.css' %}">
        <link
        rel="stylesheet" href="{%static 'assets/css/custom.css' %}">

        <!-- Template Main CSS File -->
        <link href="{%static 'assets_final/css/style.css' %}" rel="stylesheet">
        <link
        href="{%static 'assets_final/css/custom.css' %}" rel="stylesheet">


    <!-- =======================================================
                                              * Template Name: HyperTalk
                                              * Updated: Mar 10 2023 with Bootstrap v5.2.3
                                              * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
                                              * Author: BootstrapMade.com
                                              * License: https://bootstrapmade.com/license/
                                              ======================================================== -->
    </head>

    <body>

        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-between">

                <div class="logo">
                    <img src="{%static 'assets/myimages/favicon.jpg'%}" alt="" width="40px" height="40px" class="hypertalk-logo">

                    <h1>
                        <a href="index.html">HyperTalk</a>
                    </h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html">img src="{%static 'assets/myimages/favicon.jpg'%}" alt="" class="img-fluid"></a>-->
                </div>

                <nav id="navbar" class="navbar">
                    <ul>
                        <li>
                            <a class="nav-link scrollto active" href="#hero">Home</a>
                        </li>
                        <li>
                            <a class="nav-link scrollto" href="{% url 'about' %}">About</a>
                        </li>
                        <li>
                            <a class="nav-link scrollto" href="{% url 'team' %}">Team</a>
                        </li>

                        <li>
                            <a class="nav-link scrollto" href="{% url 'contactus' %}">Contact Us</a>
                        </li>
                        <li>
                            <a class="getstarted scrollto" href="{% url 'about' %}">Get Started</a>
                        </li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>
                <!-- .navbar -->

            </div>
        </header>
        <!-- End Header -->

        <!-- ======= Hero Section ======= -->
        <section id="hero" class="position-relative d-flex align-items-center" style="height: 80vh;">
            <img src="{% static 'assets_final/img/main_image.jpg' %}" alt="Main Image" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">

            <div class="hero-overlay"></div>

            <div class="container position-relative">
                <div class="row">
                    <div class="col-lg-2">
                        <img style="border-radius: 35px;" src="{% static 'assets/myimages/favicon.jpg' %}" alt="Hypertalk logo" class="img-fluid" width="200px" height="200px">
                    </div>

                    <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center text-light">
                        <h1 class="yellow-text" data-aos="fade-up">REAL-TIME ASL TRANSLATOR</h1>
                        <h2 class="white-text" data-aos="fade-up" data-aos-delay="400">Converting Sign language to speech</h2>
                        <div
                            data-aos="fade-up" data-aos-delay="800">
                            <!-- Button trigger modal -->
                            <div>
                                <a href="#" class="btn-get-started scrollto btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#sign-language-modal">Sign language to Text</a>
                                <a href="#" class="btn-services scrollto btn" data-bs-toggle="modal" data-bs-target="#text-to-sign-language-modal">Text to Sign language</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </section>

        <!-- Sign language to text modal -->
        <div class="modal fade" id="sign-language-modal" tabindex="-1" aria-labelledby="sign-language-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="sign-language-modal-label">Sign language to text</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div
                        class="modal-body">

                        <!-- machine learningmodel -->
                        <section class="section coming-soon" data-section="section2">
                            <div class="px-5">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <style>
                                            .displayHide {
                                                display: none;
                                            }
                                        </style>
                                        <video id="video" width="640" autoplay class="displayHide"></video>
                                        <canvas id="canvas" width="640" height="480" class="displayHide"></canvas>

                                        <img
                                        id="srcImage" src="https://amayei.nyc3.digitaloceanspaces.com/2020/12/190605-artificial-intelligence-i-think-therefore-i-am.jpg" alt="" style="width:100%;object-fit:contain;border-radius: 10px;">

                                    <!-- !Loading machine lerning model -->
                                    </div>

                                    <div class="col-md-12" style="border-radius: 10px">
                                        <div class="row">
                                            <div class="container d-flex align-items-center justify-content-center">

                                                <button id="start-camera" class="btn btn-success btn-lg mt-3 mb-3 ">Start Capturing</button>
                                                <button id="stop-camera" class="btn btn-danger btn-lg mt-3 displayNone mb-3 ">Stop Capturing</button>
                                                <br>
                                                <button id="readWord" style="width: 100%;" class="btn btn-warning btn-lg mt-5 displayNone ">Read</button>
                                            </div>

                                            <div class="col-md-9 mt-5">
                                                <h4 id="showWord" style="color:rgb(21, 255, 0); word-wrap: break-word;"></h4>
                                            </div>

                                            <div class="col-md-12">
                                                <img src="{%static 'assets/myimages/WhatsApp Image 2022-07-01 at 1.12.33 PM.jpeg' %}" style="width:100%;height:100%;object-fit:scale-down;" alt="">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Text to sign language modal -->
        <div class="modal fade" id="text-to-sign-language-modal" tabindex="-1" aria-labelledby="text-to-sign-language-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="text-to-sign-language-modal-label">Text to sign language</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div id='result'>
                                Your text will  appear here
                            </div>
                            <br>
                            <div id='record'>
                                <button onclick="startConverting()" class='btn btn-info btn-sm' id="re">record</button>
                                <button class='btn btn-info btn-sm ml-3' value="Send" id="send">Send</button>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Hero -->

        <main
            id="main">

            <!-- ======= Clients Section ======= -->
            <section id="clients" class="clients clients">
                <div class="container">
                    <div class="row" style="height: 50px"></div>

                </div>
            </section>
            <!-- End Clients Section -->


            <!-- ======= Services Section ======= -->
            <section id="services" class="services">
                <div class="container">

                    <div class="section-title" data-aos="fade-up">
                        <h2>Services</h2>
                        <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fug</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon">
                                    <i class="bx bxl-dribbble"></i>
                                </div>
                                <h4 class="title">
                                    <a href="">Lorem Ipsum</a>
                                </h4>
                                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon">
                                    <i class="bx bx-file"></i>
                                </div>
                                <h4 class="title">
                                    <a href="">Sed ut perspiciatis</a>
                                </h4>
                                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                                <div class="icon">
                                    <i class="bx bx-tachometer"></i>
                                </div>
                                <h4 class="title">
                                    <a href="">Magni Dolores</a>
                                </h4>
                                <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                                <div class="icon">
                                    <i class="bx bx-world"></i>
                                </div>
                                <h4 class="title">
                                    <a href="">Nemo Enim</a>
                                </h4>
                                <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                            </div>
                        </div>

                    </div>

                </div>
            </section>
            <!-- End Services Section -->


        </main>
        <!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6 text-lg-left text-center">
                        <div class="copyright">
                            &copy; Copyright
                            <strong>HyperTalk</strong>. All Rights Reserved
                        </div>
                        <div class="credits">
                            <!-- All the links in the footer should remain intact. -->
                            <!-- You can delete the links only if you purchased the pro version. -->
                            <!-- Licensing information: https://bootstrapmade.com/license/ -->
                            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
                            Designed by
                                <a href="{% url 'team' %}"> HyperBits</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
                            <a href="{% url 'home' %}" class="scrollto">Home</a>
                            <a href="{% url 'about' %}" class="scrollto">About</a>
                            <a href="#">Privacy Policy</a>
                            <a href="#">Terms of Use</a>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-up-short"></i>
        </a>

        <!-- Vendor JS Files -->
        <script src="{%static 'assets_final/vendor/purecounter/purecounter_vanilla.js' %}"></script>
        <script src="{%static 'assets_final/vendor/aos/aos.js' %}"></script>
        <script src="{%static 'assets_final/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{%static 'assets_final/vendor/glightbox/js/glightbox.min.js' %}"></script>
        <script src="{%static 'assets_final/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
        <script src="{%static 'assets_final/vendor/swiper/swiper-bundle.min.js' %}"></script>
        <script src="{%static 'assets_final/vendor/php-email-form/validate.js' %}"></script>

        <!-- Bootstrap core JavaScript -->
        <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

        <!-- Template Main JS File -->
        <script src="{%static 'assets_final/js/main.js' %}"></script>

        <!-- Scripts -->
        <!-- Bootstrap core JavaScript -->
        <script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>


        <!-- <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->
        <!-- <script src="{%static 'static/vendor/jquery/bootstrap.min.js' %}"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
        <script src="{%static 'assets/js/isotope.min.js' %}"></script>
        <script src="{%static 'assets/js/owl-carousel.js' %}"></script>
        <script src="{%static 'assets/js/lightbox.js' %}"></script>
        <script src="{%static 'assets/js/tabs.js' %}"></script>
        <script src="{%static 'assets/js/video.js' %}"></script>
        <script src="{%static 'assets/js/slick-slider.js' %}"></script>
        <script src="{%static 'assets/js/custom.js' %}"></script>

        <script>
            // according to loftblog tut
            $('.nav li:first').addClass('active');

            var showSection = function showSection(section, isAnimate) {
                var direction = section.replace(/#/, ''),
                    reqSection = $('.section').filter('[data-section="' + direction + '"]'),
                    reqSectionPos = reqSection.offset().top - 0;

                if (isAnimate) {
                    $('body, html').animate({
                        scrollTop: reqSectionPos
                    }, 800);
                } else {
                    $('body, html').scrollTop(reqSectionPos);
                }

            };

            var checkSection = function checkSection() {
                $('.section').each(function () {
                    var $this = $(this),
                        topEdge = $this.offset().top - 80,
                        bottomEdge = topEdge + $this.height(),
                        wScroll = $(window).scrollTop();
                    if (topEdge < wScroll && bottomEdge > wScroll) {
                        var currentId = $this.data('section'),
                            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                        reqLink.closest('li').addClass('active').siblings().removeClass('active');
                    }
                });
            };

            $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
                if ($(e.target).hasClass('external')) {
                    return;
                }
                e.preventDefault();
                $('#menu').removeClass('active');
                showSection($(this).attr('href'), true);
            });

            $(window).scroll(function () {
                checkSection();
            });
        </script>

        <script>
            var isactivated = false;
            $(document).ready(function () {
                // var html="<div class=\"backgroundImage mx-auto text-center\" style=\"height:600px;background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url( 'https://www.ohio.edu/sites/ohio.edu.news/files/2020-04/ASL_CHSP_Apr2020.jpeg');\"><img  id=\"modelImage\"src=\"{%static 'assets/myimages/pngwing.com.png'%}\" alt=\"\"></div>";
                // $("#modelDiv").html(html);
            });
            let camera_button = document.querySelector("#start-camera");
            let video = document.querySelector("#video");
            let click_button = document.querySelector("#click-photo");
            let canvas = document.querySelector("#canvas");
            let stopCamera = document.getElementById("stop-camera");
            let srcImage = document.getElementById("srcImage");
            let showWord = document.getElementById("showWord");
            let readWord = document.getElementById("readWord");
            let stream;
            let looping = false;
            let word = "";
            let letter = "";

            // start captureing
            camera_button.addEventListener('click', async function () {
                stream = await navigator.mediaDevices.getUserMedia({video: true, audio: false});
                video.srcObject = stream;
                looping = true;
                camera_button.classList.add("displayNone");
                stopCamera.classList.remove("displayNone");
                readWord.classList.add("displayNone");
                word = "";
                showWord.innerHTML = word;
                getImage();


            });

            // stop captureing
            stopCamera.addEventListener('click', function () {
                camera_button.classList.remove("displayNone");
                stopCamera.classList.add("displayNone");
                looping = false;
                stream.getTracks().forEach(function (track) {
                    track.stop();
                });

            });

            // reading word
            readWord.addEventListener('click', function () {
                $.ajax({
                    type: "POST",
                    url: "/sayWord",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        word: word
                    },
                    success: function (data) {}
                });
            });

            document.addEventListener('keydown', function (event) {
                if (event.keyCode == 32 && event.target == document.body) {
                    event.preventDefault();
                }
                let pattern = /[a-zA-Z0-9\.]/;
                let key = event.keyCode;
                if (looping) {
                    if (key == 13) {
                        if (letter == "SPACE") {
                            word += " "
                        } else {
                            word += letter;
                        }
                    } else if (key == 32) {
                        word += " ";
                    } else if (key == 8) {
                        word = word.slice(0, -1);
                    } else if (pattern.test(String.fromCharCode(key))) {
                        word += String.fromCharCode(key);
                    }
                    showWord.innerHTML = word;
                    if (word.length > 0) {
                        readWord.classList.remove("displayNone");
                    } else {
                        readWord.classList.add("displayNone");
                    }
                }
            });


            function getImage() {
                canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
                let image_data_url = canvas.toDataURL('image/jpeg');
                $.ajax({ // async:false,
                    type: "POST",
                    url: "/imageData",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        image: image_data_url
                    },
                    success: function (data) {
                        d = data['image'].slice(2, -1)
                        if (looping) {
                            srcImage.src = "data:image/jpeg;base64," + d;
                            letter = data['letter'];
                            getImage();
                        } else {
                            srcImage.src = "https://amayei.nyc3.digitaloceanspaces.com/2020/12/190605-artificial-intelligence-i-think-therefore-i-am.jpg";
                        }
                    }
                });
            }
        </script>

        <script>
            function startConverting() {
                document.getElementById("re").style.visibility = "hidden";
                var r = document.getElementById('result');
                var spr = new webkitSpeechRecognition(); // Initialisation of web Kit
                spr.continuous = false; // True if continous conversion is needed, false to stop transalation when paused
                spr.interimResults = true;
                spr.lang = 'en-IN'; // Set Input language
                spr.start(); // Start Recording the voice
                var ftr = '';
                spr.onresult = function (event) {
                    var interimTranscripts = '';
                    for (var i = event.resultIndex; i < event.results.length; i++) {
                        var transcript = event.results[i][0].transcript;
                        transcript.replace("\n", "<br>")
                        if (event.results[i].isFinal) {
                            ftr += transcript;
                        } else 
                            interimTranscripts += transcript;
                        

                    }
                    r.innerHTML = ftr + interimTranscripts;
                };
                spr.onerror = function (event) {};
            }
            $(document).ready(function () {
                $("#send").click(function (event) {
                    $.ajax({
                        type: "POST",
                        url: "/audio_data/",
                        data: {
                            send: $('#result').html()
                        },
                        success: function () {
                            alert("Audio succesfully Submitted");
                        }
                    });
                });
            });
        </script>

    </body>

</html>
