<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Us</title>
        <link href="{%static 'assets/myimages/favicon.jpg' %}" rel="icon">

        <link href="{%static 'assets_final/css/style.css' %}" rel="stylesheet">
        <link href="{%static 'assets_final/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{%static 'assets_final/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{%static 'assets_final/css/custom.css' %}" rel="stylesheet">

    </head>


    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-between">

                <div class="logo">
                    <img src="{%static 'assets/myimages/favicon.jpg'%}" alt="" width="40px" height="40px" class="hypertalk-logo">

                    <h1>
                        <a href="index.html">HyperTalk</a>
                    </h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html">img src="{%static 'assets/myimages/favicon.jpg'%}" alt="" class="img-fluid"></a>-->
                </div>

                <nav id="navbar" class="navbar">
                    <ul>
                        <li>
                            <a class="nav-link scrollto active" href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a class="nav-link scrollto" href="{% url 'about' %}">About</a>
                        </li>
                        <li>
                            <a class="nav-link scrollto" href="{% url 'team' %}">Team</a>
                        </li>

                        <li>
                            <a class="nav-link scrollto" href="{% url 'contactus' %}">Contact Us</a>
                        </li>
                        <li>
                            <a class="getstarted scrollto" href="#about">Get Started</a>
                        </li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>
                <!-- .navbar -->

            </div>
        </header>
        <!-- End Header -->


        <!-- ======= Team Section ======= -->
        <section id="team" class="team section-bg">

            <div class="section-title team" data-aos="fade-up">
                <h2>Team</h2>
                <h3>HyperBits</h3>
                <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p> -->
            </div>
            <div class="container col-8">
                <div class="row text-center">

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="100">
                            <div class="member-img">
                                <img src="{%static 'assets/myimages/member1.jpg' %}" class="img-fluid member-img" alt="">
                                <div class="social">
                                    <a href="">
                                        <i class="bi bi-twitter"></i>
                                    </a>
                                    <a href="">
                                        <i class="bi bi-facebook"></i>
                                    </a>
                                    <a href="">
                                        <i class="bi bi-instagram"></i>
                                    </a>
                                    <a href="">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Hasitha Gallella</h4>
                                <span>Undergraduate</span>
                                <span>Department of Electronic & Telecommunication Engineering</span>
                                <span>University of Moratuwa</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="200">
                            <div class="member-img">
                                <img src="{%static 'assets/myimages/member2.jpg' %}" class="img-fluid member-img" alt="">
                                <div class="social">
                                    <a href="">
                                        <i class="bi bi-twitter"></i>
                                    </a>
                                    <a href="">
                                        <i class="bi bi-facebook"></i>
                                    </a>
                                    <a href="">
                                        <i class="bi bi-instagram"></i>
                                    </a>
                                    <a href="">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Kavindu Damsith</h4>
                                <span>Undergraduate</span>
                                <span>Department of Computer Science & Engineering</span>
                                <span>University of Moratuwa</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="300">
                            <div class="member-img">
                                <img src="{%static 'assets/myimages/member3.jpg' %}" class="img-fluid member-img" alt="">
                                <div class="social">
                                    <a href="">
                                        <i class="bi bi-twitter"></i>
                                    </a>
                                    <a href="">
                                        <i class="bi bi-facebook"></i>
                                    </a>
                                    <a href="">
                                        <i class="bi bi-instagram"></i>
                                    </a>
                                    <a href="">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Malitha Prabhashana</h4>
                                <span>Undergraduate</span>
                                <span>Department of Electrical Engineering</span>
                                <span>University of Moratuwa</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html></section><!-- End Team Section --><!-- ======= Footer ======= --><footer id="footer">
<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
            <div class="copyright">
                &copy; Copyright
                <strong>HyperTalk</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
                Designed by
                    <a href="{% url 'team' %}"> HyperBits</a>
            </div>
        </div>
        <div class="col-lg-6">
            <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
                <a href="{% url 'home' %}" class="scrollto">Home</a>
                <a href="{% url 'about' %}" class="scrollto">About</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Use</a>
            </nav>
        </div>
    </div>
</div></footer><!-- End Footer -->

    </body>
</html>

